[2019-09-16 11:19] ParthaPratimDas123 opened #9 "This sample doesn't work with https://"
This sample works fine if I run it locally. But if I host the application in web app and run the application(e.g. https://abc.azurewebsites.net/msal4jsample) and click the login button, it becomes an infinite loop. It keeps on asking the AAD Login UID/ Password.

Please review.

[2019-09-16 18:09] sangonzal commented on #9
@ParthaPratimDas123 have you tried updating the redirect URLs (both in the application.properties and the Azure portal) to use https:// schemes?

[2019-09-23 10:50] ParthaPratimDas123 commented on #9
Yes

[2019-10-17 07:28] hunao0221 opened #11 "How to validate access_token on backend"
Hi, I request a access_token and refresh_token from `https://login.microsoftonline.com/{tenant}/oauth2/token`  on the backend which base on SpringBoot and  response to frontend.

and then frontend send a request to backend api with access_token, the question is how to validate access_token on the backend ? and we alse use Sring Security.

At the moment I did't found any suggestions.

I'm looking f

[2019-10-21 16:53] sangonzal commented on #11
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/111

[2019-10-21 16:53] #11 closed, assigned to nobody

[2019-11-26 18:34] ugreg opened #16 "AuthHelper.java init() reference BasicConfiguration methods that do not exists"
Why is this? `getAuthority` is defined in the BasicConfiguration class, but none of the other methods are.

From line 59 of commit ommit `93be266aab6fe2b6d6190da5b92ead7a522c5faa`.

[code]

[2019-11-26 19:23] sangonzal commented on #16
@gregdegruy The sample uses lombok to auto generate getters and setters. If you take a look at [BasicConfiguration line 16](https://github.com/Azure-Samples/ms-identity-java-webapp/blob/master/src/main/java/com/microsoft/azure/msalwebsample/BasicConfiguration.java#L16) you will see a `Getter` annotation

[2019-11-27 22:31] #16 closed, assigned to nobody

[2019-12-06 02:30] alex-mason-by opened #17 "Update for B2C as well (like Python)"
Please update this example for B2C akin to the ms-identity-python-webapp project

https://github.com/Azure-Samples/ms-identity-python-webapp

[2019-12-06 17:17] sangonzal commented on #17
Hi @alex-mason-jdas we are in the process of putting together a full B2C sample with instructions. In the meantime, if you'd like to see the code for the sample: https://github.com/AzureAD/microsoft-authentication-library-for-java/tree/dev/src/samples/msal-b2c-web-sample

[2019-12-09 08:52] tejastj opened #18 "Can't run in eclipse"
Hi,
There is an issue to run the project on eclipse. It throws an 404: not found error. Is there any document for detailed description for steps to be followed to run it on eclipse and necessary configurations to be made.

[2019-12-11 12:45] nitin31mohan commented on #18
I am facing the same issue. Followed the steps mentioned in the README.

Any help is appreciated.
Thanks.

[2019-12-11 16:15] sangonzal commented on #18
@tejastj @nitin31mohan are you having issues with eclipse? or does the issue come up when you navigate to the URL in a browser? Can you share steps to reproduce the error?

[2019-12-12 01:47] nitin31mohan commented on #18
Upon launching on localhost, the URL that is hit is: "http://localhost:PORT/msal-web-sample", instead of the intended "http://localhost:PORT/msal4jsample".

I think this is the reason for the 404 - but am unable to find the resolution.

The 404 is encountered either way.

Thanks.

[2019-12-30 17:41] charlesjardim commented on #18
Hello @tejastj @nitin31mohan.  The problem is that the instance name is missing before the /msal4jsample in url.

[2019-12-31 22:38] sangonzal commented on #18
@tejastj @nitin31mohan I'm not able to reproduce the error. Can you provide more in depth instructions?

I have cloned the source code from github, and imported the project into eclipse as a maven project. I then registered the application on the Azure portal and updated the values in resources/application.properties. After that I right clicked on MsalWebSampleApplication.java via the eclipse proj

[2020-01-14 19:53] UnbiasedGoat opened #22 "Blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
No examples talk about how to configure one's application or the app registration to get past CORS when accessing the Authentication endpoints. There must be a way in the APP or the portal to do so

Access to XMLHttpRequest at 'https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize (redirected from 'http://localhost:8888') from origin 'http://localhost:8888' has been blocked by CORS

[2020-01-24 14:54] egjoleka opened #23 "You can't sign in here with a personal account. Use your work or school account instead."
After following the tutorial for spring security and java integration i am getting the following error when trying to log in:
You can't sign in here with a personal account. Use your work or school account instead.

[2020-01-24 15:59] sangonzal commented on #23
When registering your application, did you click on "Support AzureAD and personal microsoft accounts"?
![PortalRegisterApp](https://user-images.githubusercontent.com/35743865/73083118-73099d00-3e7f-11ea-8cfd-5d4e214e304e.PNG)

[2020-01-24 16:01] sangonzal commented on #18
Closing cause I never heard back. Feel free to reopen with any other questions.

[2020-01-24 16:01] #18 closed, assigned to nobody

[2020-01-29 00:39] sangonzal commented on #22
@UnbiasedGoat Are running into this issue using the java web app sample? Can you please explain your scenario.

[2020-01-31 23:46] #23 closed, assigned to nobody

[2020-02-03 09:11] ravindra12jan opened #25 "Error: One or more Filters failed to start"
I have followed the instruction but tomcat is giving below error while startup -

03-Feb-2020 14:35:11.967 SEVERE [localhost-startStop-1] org.apache.catalina.core.StandardContext.startInternal One or more Filters failed to start. Full details will be found in the appropriate container log file
03-Feb-2020 14:35:11.967 SEVERE [localhost-startStop-1] org.apache.catalina.core.StandardContext.startInt

[2020-02-18 19:44] sangonzal commented on #17
#27 added B2C code

[2020-02-18 19:44] #17 closed, assigned to nobody

[2020-02-18 19:44] sangonzal commented on #22
Closing due to no response.

[2020-02-18 19:44] #22 closed, assigned to nobody

[2020-02-19 19:48] sangonzal opened #29 "Update repository structure"
Currently this repository contains 3 separate samples:
- AAD webapp
- B2C webapp
- Spring Security webapp

Update structure to have three root folders, one for each sample, with a README explaining the structure.

[2020-02-20 09:44] Saikumar-Hexaware opened #30 "Failed to validate data received from Authorization service - Could not validate state"
I have cloned the repo and configured the properties accordingly but I am getting the below error:
**Failed to validate data received from Authorization service.**
Please help with this.

[2020-02-20 09:56] aherceg commented on #30
Same here. Debugging revealed that no cookie named 'msal_web_app_auth_state' is stored.

[2020-02-20 16:23] sangonzal commented on #30
@Saikumar-Hexaware @mfwvo9 Can you share the browser and the browser version you are using?

[2020-02-21 05:05] Saikumar-Hexaware commented on #30
@sangonzal browser is Google Chrome and version is Version 79.0.3945.117 (Official Build) (64-bit).

[2020-02-21 11:11] aherceg commented on #30
Chromium Version 79.0.3945.130 (Developer Build) built on Debian 10.2, running on Debian 10.3 (64-bit)

[2020-02-22 04:53] rajat-jain912 opened #31 "Can't track the error."
Hello,
I need a bit of guidance about adding users to application that I've created on Azure.
I keep getting the Error.html page due to authentication.

[2020-02-22 04:59] rajat-jain912 opened #32 "Need help with application.properties and assigning users to the application."
#AAD configuration
aad.clientId=**************
aad.authority=https://login.microsoftonline.com/****************/
aad.secretKey=******************
aad.redirectUriSignin=http://localhost:8080/msal4jsample/secure/aad
aad.redirectUriGraph=http://localhost:8080/msal4jsample/graph/me
aad.msGraphEndpointHost="https://graph.microsoft.com/"

Do I need to add anything else to this?

[2020-02-24 12:32] ghost opened #33 "Authorization example"
Can you add authorization example to this sample. It means user from different Azure AD groups will have different rights to access different pages

[2020-02-25 21:14] sangonzal commented on #31
@rajat-jain912 You would [add users in the portal](https://review.docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-users-azure-active-directory?context=azure/active-directory/users-groups-roles/context/ugr-context): Here are some instructions

[2020-02-26 18:39] navyasric commented on #32
@rajat-jain912 Can you clarify what you mean by assigning users to the applications? The properties configured in this sample allow you to authenticate users with Azure AD and then cal the MS Graph API. As described [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-java-webapp#step-3-configure-the-code-sample), you will need to specify the Azure AD tenant in the

[2020-02-26 18:40] navyasric commented on #31
@rajat-jain912 I believe this is a duplicate of this issue https://github.com/Azure-Samples/ms-identity-java-webapp/issues/32. Please note the response in the linked issue.

[2020-02-28 23:48] navyasric opened #34 "Sample returns Null pointer exception when accessing MS Graph API"
Run the sample and sign in. Then click "show user info".
NullPointerException is returned.

[2020-03-01 21:58] alex-mason-by opened #35 "Bug with B2C Sample and API scope"
The below code pointer is hard-coded to the Graph API instead of a custom API. I have two issues with this. First, is that the Graph API will not work with B2C to my knowledge and that is why the B2C Sample makes use of demo.read of Hello API, etc. which also means I have doubts that this sample really works at all with B2C and the silent flow. Second, I would really like to see an example where a

[2020-03-03 21:21] navyasric commented on #34
Fixed with this commit: https://github.com/Azure-Samples/ms-identity-java-webapp/commit/7253392699452ee4e50fda62e3658a3c63855928

[2020-03-03 21:21] #34 closed, assigned to nobody

[2020-03-06 06:11] anushka-c commented on #30
I am getting the same error. Looks like there is no state & nonce parameter in the request header.
I am using chrome version 80 32-bit. the code doesn't work at all on IE. is it a browser issue or something else. Please help.

[2020-03-06 09:53] anushka-c commented on #30
which cookie should we check as msal_web_app_auth_state is not stored. Its either CCState or SignInStateCookie.
Also facing same error for nonce. No nonce cookie stored.

[2020-03-11 02:47] kakachen commented on #30
I am having the same issue here.
I tried to set up to SSL instead but my Ajax got blocked...

[2020-03-19 22:49] navyasric commented on #30
Since most of you are experiencing the issue on Chrome browser, this may be related to SameSite updates. Please take a look at this article: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-handle-samesite-cookie-changes-chrome-browser?tabs=java

We have updated this sample to handle the SameSite issues [here]
(https://github.com/Azure-Samples/ms-identity-java-webapp/pull/24).

[2020-03-22 20:07] kxying-kk opened #38 "I had to change redirect URIs from http to https to make it work partially"
When I clicked “Call Obo Api” button, I got the following exception in web application, obo application did not even get the request.

2020-03-22 15:17:05.967 DEBUG 14396 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet        : GET "/obo_api", parameters={}
2020-03-22 15:17:05.968 DEBUG 14396 --- [nio-8080-exec-1] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped to public org.springframew

[2020-03-26 21:20] kboger opened #39 "Reply URL error"
Hi there,
I'm getting the following error:
AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application.

I'm using the following in Azure redirect URIs:
https://localhost:8080/msal4jsample/secure/aad
https://localhost:8080/msal4jsample/graph/me

i tried it with 8443 and 8080 and get the same error.

Error response:
https://login.microsoftonline.

[2020-03-26 21:54] sangonzal commented on #39
@kboger Can you post the error message that you are getting?

[2020-03-26 21:56] sangonzal commented on #38
Duplicate of https://github.com/Azure-Samples/ms-identity-java-webapi/issues/8

[2020-03-26 21:56] #38 closed, assigned to nobody

[2020-03-26 21:57] sangonzal commented on #31
Haven't heard back, closing issue.

[2020-03-26 21:57] #31 closed, assigned to nobody

[2020-03-26 21:58] sangonzal commented on #32
Haven't heard back, closing issue.

[2020-03-26 21:58] #32 closed, assigned to nobody

[2020-03-27 23:26] kboger commented on #39
i made some adjustments to the B2C config and getting the error below.

com.nimbusds.oauth2.sdk.ParseException: Missing JSON object member with key "access_token"

[2020-03-31 02:51] SomkaPe opened #40 "Revert "same site" change"
switch from form_post response mode + cookie with Same site = none to query response mode + storage of state and nonce in session

[2020-03-31 21:54] navyasric commented on #40
@Avery-Dunn This will also require updates to the Readme and documentation. Please add me as a reviewer when this is done.

[2020-04-02 17:54] sangonzal commented on #39
@kboger Can you post the values you are using in the application.properties? (without any identifiable information or credentials)

[2020-04-09 07:05] atifhussain-coder opened #42 "filter is working in sample app due to which no one can login the app."
I have checked that filter is actually not working because @componentScan is not placed is main class. Due to this filter is not included in the build and program flow is not working as expected.

[2020-04-14 00:58] sangonzal commented on #42
@10pearls-atifhussain Can you share the exact error that you are running into?

[2020-04-14 00:58] #39 closed, assigned to nobody

[2020-04-14 05:42] atifhussain-coder commented on #42
Hi sangonzal,  Basically when i tried to run the sample app after following the guideline in readme file. whenever i tried to go on https://localhost:8080/msal4jsample/secure/aad. its not redirecting me to login screen instead it just showing me that "invalid token". and After debugging the app it i come to know that basically filter in the sample app is actually not compiled because spring boot a

[2020-04-28 20:40] Avery-Dunn commented on #40
Fixed as part of https://github.com/Azure-Samples/ms-identity-java-webapp/pull/41

[2020-04-28 20:40] #40 closed, assigned to Avery-Dunn

[2020-04-28 20:41] Avery-Dunn commented on #29
Fixed as part of https://github.com/Azure-Samples/ms-identity-java-webapp/pull/37

[2020-04-28 20:41] #29 closed, assigned to nobody

[2020-04-28 20:47] Avery-Dunn commented on #9
HTTPS should be working correctly as of the latest version. See https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/208 for a related issue and confirmation that HTTPS URLs are work, and https://github.com/Azure-Samples/ms-identity-java-webapp/pull/41, https://github.com/Azure-Samples/ms-identity-java-webapp/pull/43 for related changes to the sample

[2020-04-28 20:47] #9 closed, assigned to nobody

[2020-05-01 02:29] sarveshkapre opened #44 "Issues while running msalwebsample"
https://github.com/Azure-Samples/ms-identity-java-webapp/blob/master/msal-java-webapp-sample/src/main/java/com/microsoft/azure/msalwebsample/AuthHelper.java#L166

I followed the steps as mentioned in Readme and ran into some deserialization issues while fetching access token. My guess is the above line causes the Authorization Response parameters to be encoded using `application/x-www-form-urlenco

[2020-05-08 15:19] AniketBhadane commented on #44
Thank you for this. I commented "response_mode=form_post&" line and things started working. Otherwise I was getting 403 forbidden. I spent 2 days on this. Thank you

[2020-05-12 22:47] sangonzal commented on #44
@sarveshkapre @AniketBhadane Thanks, this has been fixed in the sample and should now work.

[2020-05-12 22:47] #44 closed, assigned to nobody

[2020-05-13 15:34] culmat opened #46 "Which sample to start with?"
How do the spring samples relate to [/microsoft/azure-spring-boot](https://github.com/microsoft/azure-spring-boot)?
What is the difference?

[2020-05-15 21:32] johnbyers commented on #25
I had the same issue. The localhost log shows:
`java.lang.AbstractMethodError: Receiver class com.microsoft.azure.msalwebsample.AuthFilter does not define or inherit an implementation of the resolved method abstract init(Ljavax/servlet/FilterConfig;)V of interface javax.servlet.Filter.`

You need to add this code to the top of AuthFilter:
`
@Override
    public void init(FilterConfig filterConfig)

[2020-05-15 22:09] johnbyers commented on #30
@navyasric , it looks to me like the SameSite fix you referenced has been reverted. Can we have some more guidance on how to fix the issue?

[2020-05-18 20:21] navyasric opened #47 "Update webapp sample to use the Authorization URL builder helper."
The [request to the authorization endpoint](https://github.com/Azure-Samples/ms-identity-java-webapp/blob/master/msal-java-webapp-sample/src/main/java/com/microsoft/azure/msalwebsample/AuthHelper.java#L156) should be updated to use the helper method in MSAL Java.

[2020-05-29 17:37] cccs-cat001 opened #48 "Audience is incorrect in access token"
Hi there,

   I've been playing around with the webapp-example. I'm trying to get the groups claim to show up in the access token, but it won't for whatever reason. It shows up fine in the ID token. I was discussing with a coworker, and he mentioned that the audience is set to some microsoft default: "00000003-0000-0000-c000-000000000000", but it should be the client_id. I spent a few hours diggin

[2020-06-01 22:10] sangonzal commented on #48
@cccs-cat001 What resource are you acquiring a token? If it's Microsoft Graph, the audience will be what you stated. The "aud" (audience) claim identifies the recipients that the JWT is intended for.

The client should not really be looking into the access token. What are you trying to accomplish?

[2020-06-01 22:19] sangonzal commented on #46
@culmat I guess it depends on your scenario. The sample in this repository uses Spring Security to log in an user using Oauth2 authorization code flow.

From quickly browsing the samples made by the azure-spring-boot, it looks like they add some extra functionality by actually providing their own spring boot starter that adds support for getting group membership among other things.

[2020-06-02 11:10] cccs-cat001 commented on #48
I'm not going with Microsoft Graph, I have an app registration in my tenant. I provide the client id, the tenant id, and client secret, and it gives me back the microsoft graph token.
I'm looking into the access token to make sure that the optional group claim that I added to the app registration makes it into the access token, which I found was not happening. I want to limit access to my app base

[2020-06-03 17:08] sangonzal commented on #48
@cccs-cat001 You should not be looking at the access token, as the access token is meant for the resource (Graph in your case), and not the client (your app). You can just use the claims in the id token in your case. Here is an interesting [article](https://www.cloudidentity.com/blog/2018/04/20/clients-shouldnt-peek-inside-access-tokens/) explaining why you the client should not peak at access tok

[2020-06-04 05:01] rainbowrain0912 commented on #30
@navyasric I'm getting the same issue. Has this been fixed?

[2020-06-05 20:20] Avery-Dunn commented on #30
@rainbowrain0912 : Are you still getting an error when using the latest version the sample? If so, could you post any error messages or a description of what you're running into?

[2020-06-06 08:55] rainbowrain0912 commented on #30
Yes. I'm getting :  **Failed to load resource: the server responded with a status of 404 ()** during authentication. It's not reaching SAFELogin.html. Did I miss something?

In my `AuthPageController.java,` I basically just modified the `@RequestMapping`
[code]

[2020-06-06 21:52] alex-mason-by opened #49 "B2C Sample does not demonstrate full logout using end_session endpoint"
The B2C Sample ought to also show how to properly logout of B2C by using the end_session endpoint

[2020-06-07 13:16] anotherrohit opened #50 "error creating bean name 'defaultValidator' defined in class path resource"
I get this error when starting the msal-web-sample.war built from Azure samples git example

https://github.com/Azure-Samples/ms-identity-java-webapp/tree/master/msal-java-webapp-sample

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'defaultValidator' defined in class path resource [org/springframework/boot/autoconfigure/validation/ValidationAutoConfigurati

[2020-06-08 20:20] sangonzal commented on #48
Closing, feel free to re-open in case of any other questions.

[2020-06-08 20:20] #48 closed, assigned to nobody

[2020-06-08 20:20] sangonzal commented on #46
Closing, feel free to reopen in case of any other questions.

[2020-06-08 20:20] #46 closed, assigned to nobody

[2020-06-08 21:31] Avery-Dunn commented on #30
@rainbowrain0912 : After you changed the default path from `/msal4jsample/secure/aad` to `/cqm-DEV/SAFELogin.html`, did you also change the path of the `redirectUriSignin` property in `application.properties` and add it to your app in Azure?

Assuming you're using still using the default localhost and port values, in `application.properties` the `redirectUriSignin` line should be:
  `aad.redirectU

[2020-06-08 22:25] Avery-Dunn commented on #50
@anotherrohit : Hello, I saw that you're running the .war in Tomcat 7. Could you try running the sample in Tomcat 9?

I was able to run the sample without issue using Tomcat 9, though when I tried Tomcat 7 just now I ran into several issues (though not exactly the same as you posted).

[2020-06-09 12:13] rainbowrain0912 commented on #30
Thank you for your reply. I got it to work now.

My `AuthPageController.java `and `application.properties` were updated already.

What I missed earlier was to modify this part of `Authfilter.java` since I didn't use the default URIs.
`private List<String> excludedUrls = Arrays.asList("/", "/msal4jsample/");`
I changed it to:
`private List<String> excludedUrls = Arrays.asList("/", "/victory/cqm-DEV

[2020-06-09 15:42] #30 closed, assigned to nobody

[2020-06-13 09:08] rainbowrain0912 opened #51 "Execution of class com.microsoft.aad.msal4j.AcquireTokenByAuthorizationGrantSupplier failed."
I'm getting this error after deploying to a production environment. It was working on localhost. I already updated the application.properties to reflect the production redirectURIs set in Azure. Please advise.

[code]

[2020-06-13 13:15] rainbowrain0912 commented on #51
I think it may have something to do with the SSL certificate being in the load balancer and not in the server? Do I need any special set up to get this to work?

[2020-06-16 20:37] Avery-Dunn commented on #51
@rainbowrain0912 : Hello, I haven't been able to reproduce your 'Connection timed out' error myself, but since it's a timeout issue it's likely the connection is being blocked at some point in your network. You say that it was working in your local environment but not in the production environment, so my best guess would be an issue with what is being allowed through the load balancer or any firew

[2020-06-19 05:54] rainbowrain0912 commented on #51
I will reach out to network team to check and update.

[2020-06-23 21:33] ghnipunasaranga commented on #22
I am having a similar issue! @UnbiasedGoat did you solve this issue?

Access to XMLHttpRequest at 'https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/oauth2/v2.0/authorize?response_type=code&client_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&scope=openid%20profile%20email%20offline_access&state=sadlnsakfllsamflkdamlfkmnadkfnmkadnmfkandml%3D&redirect_uri=http://localhost:8080/login/

[2020-06-24 04:29] rainbowrain0912 commented on #51
@Avery-Dunn: Network confirmed that firewall and SSL handshake is fine. It is going through. Port 80/443 are working fine too.
How do I configure it in application.properties if the SSL cert is on the load balancer? I think this is the key.

[2020-06-26 21:49] Avery-Dunn commented on #51
@rainbowrain0912 : I'm not sure if there is a way to get a cert on another server, at least not through just the properties file. However, MSAL4J has an [HTTP client class](https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/main/java/com/microsoft/aad/msal4j/DefaultHttpClient.java) used for making connections, and you could [implement a custom version](https://github

[2020-07-16 18:47] Avery-Dunn commented on #51
Closing due to lack of activity for a while. If you're still having issues, feel free to leave a comment or re-open this thread.

[2020-07-16 18:47] #51 closed, assigned to nobody

[2020-07-16 22:18] Avery-Dunn commented on #50
Closing due to lack of activity. If you are still having issues or have any other questions, feel free to leave a comment or re-open this thread.

[2020-07-16 22:18] #50 closed, assigned to nobody

[2020-07-16 22:18] #47 closed, assigned to Avery-Dunn

[2020-07-20 12:33] dinesh71 opened #55 "Apps.json - How is it used in the Apps creation powershell"
Hi Team,

Would like understand how apps.json is used in powershell  scripts(configure.ps1). When looked at scripts seems to be every value is available in the configure.ps1

Thanks,
Dinesh

[2020-07-20 22:14] Avery-Dunn commented on #55
Hello @dinesh71 : I believe that file is used in some way by [the quickstart](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-java-webapp) for this sample (though I'm not sure how the quickstart works internally), it's not used by the configure.ps1 script.

[2020-07-27 04:55] rainbowrain0912 commented on #51
We resolved it by configuring a proxy.

Thank you for your help.

[2020-07-31 17:31] Avery-Dunn commented on #55
Closing due to inactivity. If you still have questions or have any related issues, feel free to leave a comment or reopen this thread.

[2020-07-31 17:31] #55 closed, assigned to nobody

[2020-08-19 16:13] TamasSzerb opened #56 "spring-security-web-app returning from B2C and fails"
Hitting https://localhost:8443/ (running as spring boot jar), returns back from B2C fails:

Request URL: https://localhost:8443/login?state=NJPnhN&code=eyJraWQiOiI5Qk4wcUFoTXVhTE1HR0dla3kzV2RTanpGdGhabVJDQzRrckVFQjF1V1VFIiwidmVyIjoiMS4wIiwiemlwIjoiRGVmbGF0ZSIsInNlciI6IjEuMCJ9.ogK49BPpOhUJStMiaQYymHYXl45lg-kcJDDTTWZpO_B9UMYTqB3t2__YaE9nymAHwHT2JH9F1uDCJ0RZso-osvsjH8KHE5Gwe1iBrGblUiGASUrt1so_7-R7or2

[2020-08-19 16:17] TamasSzerb commented on #56
Please also update the application properties according to https://docs.microsoft.com/en-us/azure/active-directory-b2c/multiple-token-endpoints as needs to migrate from login to B2C tenant.

[2020-08-24 15:32] TamasSzerb commented on #56
In the log this can be seen:

2020-08-24 16:57:38.165 DEBUG 19041 --- [0.1-8443-exec-6] o.s.s.w.a.AnonymousAuthenticationFilter  : Populated SecurityContextHolder with anonymous token: 'org.springframework.security.authentication.AnonymousAuthenticationToken@1636289f: Principal: anonymousUser; Credentials: [PROTECTED]; Authenticated: true; Details: org.springframework.security.web.authentication.W

[2020-08-26 00:03] sangonzal commented on #56
@idg-sam @navyasric this might be a good issue to investigate/ sample to revamp as per the suggestion above.

[2020-08-27 11:39] TamasSzerb commented on #56
Also please note that according to https://docs.spring.io/spring-security-oauth2-boot/docs/current/api/org/springframework/boot/autoconfigure/security/oauth2/client/EnableOAuth2Sso.html @EnableOAuth2Sso annotation is deprecated.

[2020-08-27 12:22] TamasSzerb commented on #56
Please note that the official spring "click" example: https://spring.io/guides/tutorials/spring-boot-oauth2/ ( https://github.com/spring-guides/tut-spring-boot-oauth2/tree/master/click ) also does not work, because if we configure

in tut-spring-boot-oauth2/click/src/main/resources/application.yml

eg.

issuer-uri=https://fabrikamb2c.b2clogin.com/fabrikamb2c.onmicrosoft.com/b2c_1_sign_in/v2.0/

ac

[2020-09-18 13:57] Tredence-GitHub commented on #22
any one facing this issue still?

[2020-09-23 15:01] Ranbir-Sinha opened #57 "Issue in ms-identity-java-webapp: Failed to validate data received from Authorization service - could not validate state"
I downloaded ms-identity-java-webapp archive and updated the application.properties file with the Azure AD details.
When I started the Spring Boot application, I got a login page. After clicking login button, I got a microsoft login page and after logging in with the user account, I got the following log lines with an error page:

 :: Spring Boot ::        (v2.1.4.RELEASE)

2020-09-23 16:53:06.982

[2020-09-23 19:18] Ranbir-Sinha commented on #57
Workaround:
keytool -genkeypair -alias testCert -keyalg RSA -storetype PKCS12 -keystore keystore.p12 -storepass password

application.properties file
server.port=8443
server.servlet.session.cookie.secure=true
server.ssl.key-store=classpath:keystore.p12
server.ssl.key-store-password=password
server.ssl.key-store-type=PKCS12
server.ssl.key-alias=testCert

[2020-09-23 19:18] #57 closed, assigned to nobody

[2020-09-27 09:36] yiliuTo opened #58 "How to add url infomation in the scope parameter in an authentication request"
I am running the _msal-java-webapp-sample_, and it can work well with instructions from the README.md. However, when I modify the `scope` parameter (the code I modified is [here](https://github.com/Azure-Samples/ms-identity-java-webapp/blob/54b385853939a2f5e230e2cb0629f7f5a7253a52/msal-java-webapp-sample/src/main/java/com/microsoft/azure/msalwebsample/AuthFilter.java#L65) in the authentication req

[2020-09-27 22:45] ivangeorgiev commented on #22
I am having the same issue. Any suggestions?

Access to XMLHttpRequest at 'https://login.windows.net/xxxx' (redirected from 'https://xxxx.azurewebsites.net/.auth/me') from origin 'xxxx' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

The UI is a JavaScript SPA and is trying to access .auth/me to get the id token to use with the backen

[2020-09-29 17:03] sangonzal commented on #58
@yiliuTo Are you testing on with an app registration on Microsoft tenant on your ow personal test tenant? If it's on the Microsoft tenant, then you might be getting `AADSTS65001: The user or administrator has not consented to use the application with ID xxxxxxxxxxxxxxx` because the scope you are requesting needs admin approval, which you can't give on the Microsoft tenant.

"So I want to know that

[2020-09-29 21:24] #58 closed, assigned to nobody

[2020-09-30 14:30] tandras92 opened #59 "Deprecated properties in "application.properties" file"
[12.1.2. Spring Boot 2.x Property Mappings](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login-boot-property-mappings)

The following properties and annotation(s) have been deprecated:

security.oauth2.client.client-id
security.oauth2.client.client-secret
security.oauth2.client.scope
security.oauth2.client.authentication-scheme
security.oauth2.client.client-authe

[2020-10-02 19:56] sangonzal opened #61 "Update B2C sample to use AuthorizationRequestUrlParameters"
Update sample to use `AuthorizationRequestUrlParameters` to build Auth code URL

[2020-10-02 19:57] sangonzal commented on #25
@ravindra12jan @johnbyers I'm not able to reproduce this issue.

[2020-10-02 20:09] idg-sam commented on #61
I'm on it.

[2020-10-07 23:23] sangonzal commented on #59
@tandras92 Thanks for reporting this.

It looks like Spring Security Oauth has been deprecated. We will update the sample to use Spring Security. https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide

[2020-10-08 04:06] lizetpenamsft opened #62 "msal-b2c-web-sample doesn't allow the use of built-in user flows or custom policies"
In the readme.md file there are no instructions on how to configure the different built-in user flows or custom policies (if the cx has configured IEF and custom policies in the tenant).
It isn't clear in the configuration in the code or the instruction in the readme.md file where to set the built in user flow to sign in a user in the web app; and obtain access_token and id_token via the Auth Code

[2020-10-08 16:14] lizetpenamsft commented on #62
@navyasric, @Avery-Dunn
the web application msal-b2c-web-sample, doesn't have clear instructions on how to include built-in user flows or custom policies to the requests made by MSAL to the B2C endpoints.

For example
https://tenant.b2clogin.com/tenant.onmicrosoft.com/policy-name/oauth2/v2.0/authorize
where **policy-name** could be B2C_1A_SignIn
or
https://tenant.b2clogin.com/tenant.onmicrosoft.co

[2020-10-08 18:06] sangonzal commented on #56
@TamasSzerb Seems like there are multiple things here, I will try to address them separately:
- Access token provider returned a null access token, which is illegal according to the contract. This is a known quirk of B2C. The workaround is to pass in the client id of your application as a scope. Please see: https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/140

- There ar

[2020-10-08 18:06] #56 closed, assigned to nobody

[2020-10-10 04:02] Springtomcat opened #63 "Failed to validate data received from authorization service-External Tomcat"
Hi,
I am facing issue(Failed to validate data received from authorization service) when deploying the app msal-java-webapp-sample on tomcat 9.0.38.It is working fine(getting user details from azure AD) when running the code from VS code IDE or as Springboot app(mvn spring-boot:run).I have also tried excluding embedded tomcat in pom file but no luck.
I have also done change in main file to run on t

[2020-10-12 16:55] Avery-Dunn commented on #63
Hello @Springtomcat : Could you provide more of the error message you're getting? The "Failed to validate" part is the start of an error message, but we'd need some more info to know what's going on.

Does the error happen only when you're deploying, or when you go to a certain page/the app makes a certain request?

[2020-10-14 19:20] Avery-Dunn commented on #25
Closing due to lack of activity and inability to reproduce. If there are still any issues, feel free to re-open or leave a comment.

[2020-10-14 19:20] #25 closed, assigned to nobody

[2020-10-14 19:24] Avery-Dunn commented on #42
Closing due to inactivity and inability to reproduce, and it seems like the fix is there for anyone who runs into the same issue. If there are still issues, feel free to re-open or leave a comment.

[2020-10-14 19:24] #42 closed, assigned to nobody

[2020-10-17 18:42] Ranbir-Sinha opened #65 "redirect issue in spring-security-web-app on Azure App Service (not on localhost)"
I was working on the spring-security-web-app in my localhost. The authentication worked fine and I was able to see the name of the logged-in user. Afterwards, I created an azure app service to host this application. The configuration of app service is Tomcat 9.0.31, Java 8 and HTTPS (TLS1.2). After deploying the web app to Azure app service, I am able to see the login page. When I clicked on the l

[2020-10-19 07:56] Ranbir-Sinha commented on #65
This problem happens when your Tomcat server is behind a proxy. The HTTPS requests terminate at the proxy and the proxy then uses HTTP protocol to communicate to your Tomcat server.

I solved this error by making the following changes:

In application.properties:
[code]

In SpringBootApplication class:
[code]

In AppConfiguration class's configure method:
[code]

More info can be found [here](http

[2020-10-19 19:37] Avery-Dunn commented on #65
Hello @Ranbir-Sinha : Glad to see you got your issue solved, when I get the chance I'll add your info about proxies to the sample's README (in case anyone else runs into the same issue). Do you have any other issues, or is the sample working for you now?

[2020-10-19 21:54] Ranbir-Sinha commented on #65
Hello @Avery-Dunn, The sample is working perfectly after the changes described in my previous comment.

Now, I am trying a different setup. I call this application the "frontend". There is another webapp (Spring Boot) which acts as a "backend". Both hosted on different Azure App Service.  Therefore two app registrations are required. The backend uses bearer token to authenticate. I also want to us

[2020-10-20 00:37] sangonzal commented on #65
@Ranbir-Sinha It seems that what you are looking for here is [on-behalf-of flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow). [This sample](https://github.com/Azure-Samples/ms-identity-java-webapi) shows how to incorporate OBO flow into a Java web application. In your frontend you would acquire tokens for the backend application. You send the reques

[2020-10-20 00:44] sangonzal commented on #63
Closing due to no response. Feel free to reopen with more details.

[2020-10-20 00:44] #63 closed, assigned to nobody

[2020-10-20 23:16] xil222 commented on #23
I don't think this is related

[2020-10-26 17:29] #65 closed, assigned to nobody

[2020-10-26 17:29] sangonzal opened #66 "Add instructions on how to deploy samples to Azure"

[2020-12-16 08:43] keyhan opened #67 "Same solution on premise hosted AD?"
Working in a big company with its own AD servers you want to sometimes use authentication authorization and oauth2, the same mechanism that you show here for Azure AD.

I have tried to find a documented solution but ave not been able to, so the question is if this solution would work on premise if not then do you have a tip where to look?

[2020-12-16 15:35] sangonzal commented on #67
@keyhan Are the on premise AD servers running ADFS2019? If so, then yes.

The only thing that really changes is the [authority value](https://github.com/Azure-Samples/ms-identity-java-webapp/blob/master/msal-java-webapp-sample/src/main/java/com/microsoft/azure/msalwebsample/AuthHelper.java#L211) that you pass in when you create your `ConfidentialClientApplication` object. You can get this value fr

[2020-12-16 17:28] black-snow opened #68 "Storing refresh token"
I managed to implement the authentication flow (while still waiting for https://github.com/microsoftgraph/msgraph-sdk-java-auth/issues/14) and now I wonder what I should store long-term so that the users do not have to re-authenticate once their session is gone. The refresh token alone is not enough, I guess, we also need the account, the scopes are good to remember too just like the expiry.

The

[2020-12-16 23:54] Avery-Dunn commented on #68
Hello @black-snow : Have a look at [this doc ](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-java-token-cache-serialization)for the basic/example way of persisting the token cache. What you describe is similar to what we recommend, except that you implement the `ITokenCacheAccessAspect` interface and do your serialization/deserialization logic in there.  The [device code flo

[2020-12-17 12:57] black-snow commented on #68
@Avery-Dunn thanks for the quick reply!

How do I get the account to build the `SilentParameters`? Do I have to store it away separately? Why does `TokenCache`/ `ITokenCache` not give access to its fields - why can't I just call `TokenCache.getAccounts()`? :|

I also can't wrap `TokenCache` since most stuff inside of it is package private. I could have my own Jackson-annotated POJO and deserialize

[2020-12-17 20:56] Avery-Dunn commented on #68
@black-snow For the accounts, it depends on how you're using the cache
- If you're storing a cache in each session and each session maps to one account (I think this how this sample does it), then you don't need to provide the account to `SilentParameters`. `SilentParameters` has a builder for scopes+account as well as [just scopes](https://github.com/AzureAD/microsoft-authentication-library-for-j

[2020-12-18 13:33] black-snow commented on #68
@Avery-Dunn thanks for the thorough reply! I missed the other constructor on SilentParameters. Now it's down to using my own `ITokenCacheAccessAspect`.

I'll open some issues in the msal4j repo.

Thanks again and have some nice holidays!

[2020-12-18 13:33] #68 closed, assigned to nobody

[2020-12-30 20:58] Avery-Dunn commented on #67
Closing due to inactivity, and it seems like the question's been answered. If you have any more questions, feel free to reopen this thread or leave a comment.

[2020-12-30 20:58] #67 closed, assigned to nobody

[2021-01-06 13:24] black-snow commented on #68
@Avery-Dunn FYI

That doesn't seem to be true.

[code]

This results in a warning, that the token cache could not be found (although it is there). I didn't investigate much, but looking at https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/b447f9e1f1fd8026208f2410b095e696f13398b2/src/main/java/com/microsoft/aad/msal4j/AcquireTokenSilentSupplier.java#L33 there's a lot of shen

[2021-01-08 18:17] upatelte commented on #50
Hi @anotherrohit , were you able to figure out the fix? I am having the exact same issue.

[2021-01-09 16:40] anotherrohit commented on #50
I was able to run the app in tomcat9.

On Fri, Jan 8, 2021 at 10:17 AM Utsav <notifications@github.com> wrote:

[2021-01-12 17:00] Ranbir-Sinha opened #69 "Access Token expired after 1 hour and UserRedirectRequiredException thrown"
The OAuth2 SSO implementation works perfectly with "@EnableOAuth2Sso" but after an hour of activity, the token expires and the OAuth2RestTemplate is unable to refresh access token, resulting in the following exception.

[code]

I tried few suggestion listed on stackoverflow (related to filter registration) and [here](https://mossgreen.github.io/Spring-OAuth-Notes/) but none of them worked.

Do you

[2021-01-13 08:58] Ranbir-Sinha commented on #69
It happened because "offline_access" was not present in the scope.
Without this scope, app cannot receive refresh token and the access token usually expires in one hour. Refresh tokens are long-lived. The app can get new access tokens as older ones expire.

[2021-01-13 08:58] #69 closed, assigned to nobody

[2021-01-13 08:59] Ranbir-Sinha commented on #69
Add "offline_access" in the scope and get admin consent for this scope in the Azure app registration.

[2021-01-14 16:11] drudymeyer opened #70 "ms-identity-java-webapp failing"
I am getting the same issue for the two sample applications (spring-security-web-app and msal-java-webapp-sample). I am running on a fresh install of Tomcat (9.0.39) and I have SSL setup on port 8443. I see the initial page, hit login, after signing in to Microsoft I see these in the browser debug Network tab:

404 The requested resource [/secure_page] is not available
and
404 GET scheme https, ho

[2021-01-14 19:59] Avery-Dunn commented on #70
Hello @drudymeyer : Could you provide a bit more info about this error: what browser are you using, and when it happens are you seeing the sample's error page (should just say something like 'error page!' with a link to the home page), a browser-specific error page, or something else?

I haven't encountered that error before so I'm not sure what could be happening. The closest I can get to the 404

[2021-01-14 20:57] drudymeyer commented on #70
Hello @Avery-Dunn: I did see the "error page!", I am using FF, I hit F12, then the Network tab to see the 404.  I will try Chrome and report back.  In the meantime I ran both apps you linked above. Both of these give me errors:

C:\JavaApps\ms-identity-java-desktop-master\Integrated-Windows-Auth-Flow\target>java -jar public-client-integrated-windows-authentication-sample-1.0.0.jar
Exception in thr

[2021-01-14 21:03] drudymeyer commented on #70
@Avery-Dunn : following up with test on Chrome.  Same behavior
![image](https://user-images.githubusercontent.com/77453311/104649021-05ebaa80-5682-11eb-8903-322f6d731242.png)

[2021-01-14 21:56] drudymeyer commented on #70
Hi @Avery-Dunn : could this be a hint why it is failing.  When I run IntegratedWindowsAuthFlow from within eclipse after building I see this error:

==No accounts in cache
[ForkJoinPool.commonPool-worker-1] ERROR com.microsoft.aad.msal4j.PublicClientApplication - [Correlation ID: 2c256d5c-e20f-4ba3-b460-b38c29c37a86] Execution of class com.microsoft.aad.msal4j.AcquireTokenSilentSupplier failed.
co

[2021-01-15 01:13] Avery-Dunn commented on #70
@drudymeyer : I'm able to reproduce your error: I originally ran the sample directly in IntelliJ and it worked fine, however when I ran it in my separate Tomcat installation I got the same 404 you got. I haven't had that issue before and it's been a while since we've changed anything in the sample, so we're investigating what could be going on.

You said you're using Eclipse, I haven't used that I

[2021-01-15 15:10] drudymeyer commented on #70
@Avery-Dunn<mailto:notifications@github.com> : I have successfully run the two samples; msal-web-sample and spring-security-web-app from within eclipse.  For the other two samples; Integrated-Windows-Auth-Flow and Username-Password-Flow I made the updates you mentioned and get by the initial Null Pointer Exception but then receive other errors, I understand the first exception is expected but I am

[2021-01-19 21:09] Avery-Dunn commented on #70
@drudymeyer : You were able to run the samples in Eclipse? So there definitely is some issue running these samples in Tomcat, we're looking into it and will update this thread when we're able to investigate it more.

As for the other samples, I've seen that "WsTrust endpoint not found in metadata document" error happen when trying to authenticate with a user that's not in the AD tenant that the ap

[2021-01-25 16:26] crottypeter opened #72 "msal-java-webapp-sample refresh after login gives error page"
Query parameters are not cleared after successful login. Therefore if the page is subsequently refreshed (F5) we take the wrong path [here](https://github.com/Azure-Samples/ms-identity-java-webapp/blob/158d769d96261f9c37f26fafd2d9d6f98b4b6621/msal-java-webapp-sample/src/main/java/com/microsoft/azure/msalwebsample/AuthFilter.java#L51), find ourselves with a new HttpSession with an empty "states" at

[2021-01-25 16:37] crottypeter commented on #72
Exception is not thrown with this change
https://github.com/Azure-Samples/ms-identity-java-webapp/pull/73

But (unfortunately) I discard all query params should I have been more selective?

[2021-01-25 19:57] idg-sam commented on #72
Thanks Peter.
Looks good to me. I don't think the query params should be necessary after that point.

[2021-01-27 16:22] #72 closed, assigned to nobody

[2021-02-24 10:31] z4f1r0v commented on #70
@Avery-Dunn, I also have a problem with the app. I have followed the README instructions and end up with
`Session does not contain principal session name`. I honestly know not where to go from here. Any suggestions?

[2021-02-25 11:59] z4f1r0v commented on #70
Fixed it. It seems like you **must** follow the instructions regarding https. Otherwise the authentication flow will not be successful. Sorry but that wasn't obvious from the README of the project.

[2021-02-25 16:24] Avery-Dunn commented on #70
@z4f1r0v : Sorry for the delay, but glad to hear you got it working. I agree that part of the instruction could be clearer (it's a part that hasn't been updated for a while), and I'll be updating it when I get the chance/the next time we make changes to the sample.

[2021-02-25 18:40] z4f1r0v commented on #70
I hear you. Should I make a PR to save you time?

[2021-02-25 22:08] Avery-Dunn commented on #70
@z4f1r0v : Thanks for the offer, but I just got the PR written up: https://github.com/Azure-Samples/ms-identity-java-webapp/pull/74. It should make the HTTPS steps more clear as actual steps in the sample, and not just a side note tacked on after the samples started needing HTTPS.

[2021-03-06 10:07] josesanches1 commented on #70
This solution not work with eclipse + tomcat 8.5 and MFA
The best solution is https://github.com/Azure-Samples/ms-identity-java-servlet-webapp-authentication
java pure and clean, not dependicies of spring

[2021-04-20 08:47] kbodh opened #75 "msal4jsample AuthFilter not starting"
Hi ,

I am deploying msal4jsample  under Tomcat 7.0.107 using java 1.8.
I am unable to start the application. Following is the error in the log. I have changed the file
ms-identity-java-webapp/src/main/java/com.microsoft.azure.msalwebsample/MsalWebSampleApplication

and I decided not to use https so my application.properties has these entries along with tenant id and client id

aad.redirectUriSign

[2021-04-20 21:24] Avery-Dunn commented on #75
Hello @kbodh : Is that the full error log? I haven't been able to recreate the issue, but do have a couple guesses for what's happening:
- I think 'AbstractMethodError' happens when an abstract method is called. Have you made any changes to the code? And are you packaging it as a .war file for Tomcat to run, or just running it through your IDE? If you're packaging it, how are you doing that? The p

[2021-04-26 14:09] ghost opened #76 "AcquireTokenSilently without Specifying Scopes"
I need to refresh the access token but I don't want to specify `scopes` in `SilentParameters`. I want to refresh it for all possible scopes which are founded in `TokenCache` object also.

So, can I reach scopes in the `TokenCache`? and then I can pass s `SilentParameters`. Or is there another way for this?

For example like below, It was passed `"User.Read"` however I don't want to specify any sco

[2021-04-26 17:11] irfanjs opened #77 "getting error while running the spring security app"
Hi,
have followed all the steps (till 5) . getting below error while running the app . it says , it does not find the keystore file in the exception but I checked the file is present and all `application.properties` file is also updated

**Environment**
OS : windows 10
Java version :
openjdk 11 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mi

[2021-04-26 18:10] Avery-Dunn commented on #77
Hello @irfanjs : I believe if you get rid of the `classpath` keyword in the path to your keystore it should work. `classpath` specifies the config to look in the resources folder (or maybe just wherever the `applications.properties` file is), so your Spring config tried to find `C:\keystore.p12` in the resources folder.

So, if you have something like `server.ssl.key-store=classpath:C:\keystore.p1

[2021-04-26 18:27] irfanjs commented on #77
Thanks. will do the change and update . what about Java version. Is my Java version OK  ?

[2021-04-26 19:40] Avery-Dunn commented on #77
The Java version should be fine. The library is generally built and tested with Java version 8 so there's a chance you could run into a problem, but I've used newer versions of Java without issue.

[2021-04-27 00:36] irfanjs commented on #77
Thanks @Avery-Dunn
I removed the classpath and it moved ahead. but now failing with following error :
[code]

Im sure nothing is running on port 8445 . I checked with command
[code]

please suggest . Thanks

[2021-04-27 14:36] irfanjs commented on #77
please suggest

[2021-04-27 14:48] Avery-Dunn commented on #77
That's a pretty generic error message from Tomcat, so it's hard to tell what could be wrong. I would suggest double checking your port configuration in the sample and in Tomcat: the sample uses port 8443 as a default in a few places so if you're using 8445 then make sure that's the only port the sample references, and the same with your Tomcat configuration (the server.xml file mainly).

You could

[2021-04-27 16:10] irfanjs commented on #77
Thanks @Avery-Dunn.
first of all, I am not using 8445 port . I was getting error so I changed the port to 8445. I reverted back the port to 8443. . Now in `application.properties` file, I have 8443 port now as default.

Further, I don't find `server.xml` file . can you tell me the path ?

[2021-04-27 17:21] Avery-Dunn commented on #77
Just to be clear, are you saying that you got the error you posted above when using port 8443, and then tried 8445 and still got the same error? If so, then it's likely a configuration issue somewhere. As I said, double check the `applications.properties`  file to make sure you've put the app id/tenant id/client secret, and the keystore alias/password/type/etc. are all set, there could be some sma

[2021-04-27 17:40] irfanjs commented on #77
OK.
let me paste the current application.properties file which I am using. please review . this file has all the app id/tenant id/client secret, and the keystore alias/password/type/
[code]

further, I am using the code as it is . Haven't changed anything . Just downloaded from github and built.  for building , I am using Maven and just run the command `mvn clean package`

after building , just ex

[2021-04-27 17:50] Avery-Dunn commented on #77
Try getting rid of the quotes around the keystore password path, I just tried adding them to my config and got a similar error.

[2021-04-28 01:00] irfanjs commented on #77
Thanks . It worked.
now,  I'm providing my credentials after clicking on login button.  it is redirecting me to the following page ....

![image](https://user-images.githubusercontent.com/4394061/116330256-bbcea500-a7ea-11eb-8d63-f2c2ac4601bc.png)

In the app registration authentication section, this is what I have :
![image](https://user-images.githubusercontent.com/4394061/116330332-e9b3e980-a7e

[2021-04-28 14:35] irfanjs commented on #77
please suggest @Avery-Dunn

[2021-04-28 15:04] Avery-Dunn commented on #77
I'm not sure why you'd be getting a 'no reply address provided' error message, even when I don't put any redirect URLs on that page I get a different error and can't reproduce yours. Did you hit the 'save' button on that authentication section?

One other thing I noticed when trying to reproduce your error is that the redirect URL in the README might have been copied wrong during some changes a wh

[2021-04-28 15:58] irfanjs commented on #77
Thanks @Avery-Dunn . it moved ahead. this is what now I am getting . so now admin has to approve the request ? Any way to get rid of this message ?

![image](https://user-images.githubusercontent.com/4394061/116434924-7c469e00-a868-11eb-9429-c87e60245490.png)

[2021-04-28 16:51] Avery-Dunn commented on #77
I haven't seen that specific 'Approval required' screen before, but I'd assume it's something related to the security on your Azure account/tenant. Are you using a personal Azure account, or is your account part of some organization (like a company, school, etc.)?

If your account is part of some organization, then yeah you'd have to get approval from your Azure admin.

If it's a personal account,

[2021-04-29 12:19] robertsmarty commented on #39
Hi @kboger, did you manage to work out the cause of the Missing JSON object member with key "access_token"?

[2021-04-30 09:17] irfanjs commented on #77
Thanks @Avery-Dunn . I am checking with admin. will keep you posted

[2021-05-02 15:53] nileshbhise opened #79 "Not able to fetch username in spring sample"
Tried to run Spring sample on my localhost. No matter what user I use to log in as, secure_page always shows logged in as "unknown" user. what am I doing wrong?
![unknown](https://user-images.githubusercontent.com/8249499/116819194-cf984500-ab23-11eb-9678-2bd7e72c7707.png)

[2021-05-03 18:58] Avery-Dunn commented on #79
Hello @nileshbhise : I haven't seen this issue before, and haven't been able to reproduce it myself.

Could you post some of the logs from when you run the sample? Are you seeing any errors in the logs? I just ran the sample myself and there should be a line similar to this:

`Authentication success. Updating SecurityContextHolder to contain: org.springframework.security.oauth2.provider.OAuth2Auth

[2021-05-03 20:09] Avery-Dunn commented on #76
Closing this question, since everything is being covered in this duplicate thread: https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/375. If you have issues or questions specific to this sample, feel free to re-open or leave a comment.

[2021-05-03 20:09] #76 closed, assigned to nobody

[2021-05-03 20:10] Avery-Dunn commented on #75
Closing this due to inactivity. If you are still having issues or have any related questions, feel free to re-open or leave a comment.

[2021-05-03 20:10] #75 closed, assigned to nobody

[2021-05-05 19:47] #70 closed, assigned to nobody

[2021-05-10 19:54] Avery-Dunn commented on #79
Closing due to inactivity. If you're still having issues or have any related questions, feel free to re-open or leave comment.

[2021-05-10 19:54] #79 closed, assigned to Avery-Dunn

[2021-05-10 19:54] Avery-Dunn commented on #77
Closing due to inactivity. If you're still having issues or have any related questions, feel free to re-open or leave comment.

[2021-05-10 19:54] #77 closed, assigned to nobody

[2021-06-01 07:35] shambhavitewari commented on #23
Hi,

I am following the tutorial for 'Build Java apps with Microsoft Graph' and I am getting the same issue even after selecting the option of 'Accounts in any organizational directory and personal Microsoft accounts.' for Supporting account types. Any help?
Thanks

[2021-06-02 04:15] jeevanbalanmanoj commented on #23
@shambhavitewari is the authority set to https://login.microsoftonline.com/common in code?

[2021-06-08 07:05] shambhavitewari commented on #23
@jeevanbalanmanoj  I checked the endpoints on the portal of this app and they are set to /common. What am I missing out on?

[2021-07-03 00:56] HarishA-Lexel commented on #30
Check if Samesite cookies entries exists in Apache configuration or Tomcat configuration (context.xml). If yes remove them. Then session will hold the attributes. Hence above exception will vanish.

[code]

[2021-07-16 18:50] dvanderl commented on #25
I am getting this issue after packaging with Maven and deploying to Tomcat. Adding the line of code below resolved my issue.

`@Override public void init(FilterConfig filterConfig) throws ServletException { }`

[2021-08-05 12:28] ChakriGangaraj opened #80 "msal-java-webapp-sample - Execution of class com.microsoft.aad.msal4j.AcquireTokenByAuthorizationGrantSupplier failed."
I am trying with the sample msal-java-webapp-sample for Azure SSO.
Getting redirected to Azure login page and after giving user name & password able to get successful code.
Getting below exception, while trying to acquire token.

[Error.txt](https://github.com/Azure-Samples/ms-identity-java-webapp/files/6938565/Error.txt)
_future - java.util.concurrent.CompletableFuture@7ee7be0e[Not completed]
ERR

[2021-08-05 15:29] sangonzal commented on #80
@ChakriGangaraj From the Error.txt that you included, the actual error is: com.microsoft.aad.msal4j.MsalClientException: java.net.SocketTimeoutException: connect timed out. This is a network related issue, perhaps caused by the changes you made in trying to run it using http. It's hard to say what could be causing it. Does the sample work for you if you don't make any changes to it?

[2021-08-06 04:46] ChakriGangaraj commented on #80
My network doesn't allow me to try with self signed certificate and hence running as http. Just removed ssl related properties in application.properties.
If there is network issue it should stop even while logging in. But that step is successful and while acquiring token getting the issue.

[2021-08-18 16:15] ChakriGangaraj commented on #80
Why its labelled as Question? I am not able to run this sample and its failing to acquire token by providing auth code.

[2021-08-20 07:35] ChakriGangaraj commented on #80
Is that https environment mandatory to run the sample?
I registered http redirect URLS in Azure AD app registration and trying application without https.
Can any one tried this sample to run with http?

[2021-09-09 18:26] Avery-Dunn commented on #80
Hello @ChakriGangaraj : Sorry for the delayed response, are you still having these issues? If so, then it's likely because more changes are needed to run everything with http. https isn't mandatory to run these samples, but most URLs assume that https will be used: in `application.properties` you'll need to change instances of 'https' and '8443' to 'http' and '8080', and the same for some referenc

[2021-09-21 17:13] sean-m-oleary commented on #57
Can you explain what this does? As in the root issue and why this solved it? I have the same error.

[2022-01-12 10:57] cricketsamya commented on #25
Worked for me too @dvanderl ! Thanks for the tip!

[2022-01-21 21:06] sfragata commented on #59
Hi
I've just created one PR to migrate the projet spring-security-web-app to spring security 5
https://github.com/Azure-Samples/ms-identity-java-webapp/pull/81

[2022-05-25 21:55] avayaappdev opened #82 "com.microsoft.aad.msal4j.MsalInteractionRequiredException: AADSTS65001 when calling acquireTokenSilently with IMAP/SMTP scopes"
I'm currently facing an issue with Java MSAL implementing the OAuth 2.0 authorization code flow when attempting
to get a new access token using the refresh token stored in token cache by calling the library method **acquireTokenSilently** method  and that only happen when passed silent parameters has any one of the below scopes which I need to authenticate I**MAP/SMTP** access to mailbox using **O

[2022-05-27 17:21] Avery-Dunn commented on #82
Hello @avayaappdev : Just to be clear, your basic situation is:
- You got some tokens successfully, including a refresh token
- You tried to get a new access token with that refresh token (your first block of code, with SilentParameters)
- That silent refresh attempt failed with that 'has not consented' error
- You removed the 'outlook.com' parts of the scope, and the silent token refresh succeede

[2022-05-28 15:11] avayaappdev commented on #82
Hi @Avery-Dunn , yes right the situation happened as you described

- The **scp** field in the decoded original access token ( before trying to refresh ) was just **IMAP.AccessAsUser.All**
so the **https://outlook.com/** resource identifier was automatically omitted from scp value, And this original access token
( fetched using the authorization code ) was able to connect to mailbox with javax.mai

[2022-05-31 18:26] Avery-Dunn commented on #82
I don't have a javax.mail app to test with, but I was able to recreate the behavior where the token service seems to drop the 'https://outlook.com/' part of the requested scope and the 'has not consented' error when trying to refresh it.

Scopes usually don't need the full resource ID (though I think this was more common in the past), but I'm not sure why the token service would drop it when retur

[2022-05-31 21:40] avayaappdev commented on #82
I've already used the **https://graph.microsoft.com/IMAP.AccessAsUser.All** scope during my trials
and the refresh token worked in that case without getting that 'has not consented message' error message but the original fetched token and the refreshed token didn't work when trying to connect to the mailbox with IMAP and SMTP protocols
with javax.mail which just implements OAuth authentication log

[2022-06-01 00:04] Avery-Dunn commented on #82
Could you describe your scenario a bit? Is there a reason you can't just use Graph? I don't have much experience programmatically sending email or using the scopes that Azure AD provides, but most of the documentation I've found (and the one you've linked) seems to be saying that these are mostly deprecated in favor of Microsoft Graph.

Also I've noticed you've written "https://outlook.com/" as th

[2022-06-01 11:16] avayaappdev commented on #82
I can't use Graph API because the system I'm currently working on is already using IMAP and SMTP protocols for mail scenarios and migrating to Microsoft Graph API will take time, also I couldn't see a direct saying in Microsoft documentations that the old permissions are really deprecated.

[2022-06-02 23:44] Avery-Dunn commented on #82
I also couldn't find anything directly saying that the old permissions are deprecated, it's just something I assumed since the IMAP.AccessAsUser.All permission in the app registration is only available for Graph, the link you posted is under a section called 'Legacy Protocols', and most of the docs I've been able to find assume you're using Graph (even [the original version](https://github.com/Mic

[2022-06-14 03:42] jcarrera94 commented on #48
@sangonzal you are right, the only reason why I peak is to verify if the access token was requested properly. for example I am using the msal library for react and it is returning the wrong authentication token so i cant use the access token with the resource I am trying to hit (microsoft graph and sharepoint api). I am adding the correct scopes to my login request and also within the app registra

[2022-08-11 09:28] hardtmedia commented on #82
Good day, I currently face the same issue in that I need to migrate a service that talks to IMAP from Basic Auth to OAuth, without switching to Graph.  From what I understand, it is possible to retrieve a token for a daemon type application. However, this token cannot be reliably used to access IMAP with javax.mail.

Did you find a solution since? Or is the solution truly to fully migrate to Graph

[2022-10-20 18:41] ievgennaida commented on #33
Question to the same topic:
Can claims inside of the token be used to authorize a user?
Ex: list of the AD groups.